.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    background-color: var(--color-gray);
    border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-orange);
}

.swiper-pagination-bullet {
    position: relative;
}

.swiper-pagination-bullet:after {
    content: "";
    position: absolute;
    inset: -8px -4px;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50px;
    border: 5px solid var(--color-light-white);
    background-color: var(--color-gray);
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
    transition: all 0.2s;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    position: absolute;
    background-color: var(--color-light-white);
    top: 2px;
    left: 3px;
    width: 20px;
    height: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    border: 5px solid var(--color-light-white);
    background-color: var(--color-orange);
    position: absolute;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
    background-color: var(--color-light-white);
}

.swiper-button-next {
    right: 20px;
}

.swiper-button-next:after {
    mask-image: url("/icons/all/arrow-right.svg");
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-prev:after {
    mask-image: url("/icons/all/arrow-left.svg");
}

.swiper-button-next-arrow {
    width: 24px;
    height: 24px;
}

.swiper-button-next-arrow:before {
    content: "";
    display: inline-block;
    background: url("/icons/arrow-down.svg") center / contain no-repeat;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}
