.page-404 {
    display: flex;
    justify-content: center;
    gap: 12%;
    padding-top: 45px;
    overflow: hidden;
    max-height: 400px;


    // .404__img

    &__img {
        position: relative;
        z-index: -1;
        object-fit: cover;
        object-position: 0 0;
    }

    // .404__block

    &__block {
        display: flex;
        flex-direction: column;
        gap: 35px;
        justify-content: center;
    }

    // .404__text

    &__text {
        display: block;
        width: 100%;
        max-width: 470px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
    }

    // .404__button-back

    &__button-back {
        width: 100%;
        max-width: 270px;
        position: relative;
        padding: 11px;
        span{
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            &::before{
                display: inline-block;
                content: '';
                
                @include style-icon-btn;
                margin-left: 0;
                margin-right: 12px;
                mask-image: url('../../icons/all/arrow-left.svg');
              
                mask-size: 90%;
                mask-position: center;
                background-color: $color-light-white;


            }
           
        
            
        }
        &:hover span::before{
            background-color: $color-orange;
        }
        
    }
}




@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .page-404 {
        flex-direction: column;
        max-height: 660px;
        padding-top: 60px;
        justify-content: left;

        

        &__img {
            margin-top: 60px;
            order: 2;
        }
    
        // .404__block
    
        &__block {
            order: 1;

        }
    
        // .404__text
    
        &__text {

        }
    
        // .404__button-back
    
        &__button-back {
            max-width: 100%;

            span{

                &::before{
                }
            }

            
        }
    }
   
}

@media (max-width: 576px) {
	
}