.article-banner {
  &__content {
    position: relative;
    padding: 50px 60px;
    min-height: 360px;
    border-radius: 30px;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(3, 6, 15, 0.64) 0%, rgba(3, 6, 15, 0.24) 100%);
    }
  }

  &__main {
    position: relative;
    z-index: 2;

    &--sm {
      max-width: 556px;
    }
  }

  &__breadcrumbs {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__date {
    margin-top: 20px;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article {
  &__body {
    display: flex;
  }

  &__main {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    min-width: 0;
  }

  &__sidebar {
    margin-left: 20px;
    flex: 0 0 413px;
    min-width: 0;
  }

  &__sidebar-slider-box {
    margin-top: 50px;
  }
}

.article-content {
  padding: 20px 30px;
  border: 1px solid $color-gray;
  border-radius: 10px;

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.benefit-slider {
  &__header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  &__prev {
    &.swiper-button-prev {
      margin-top: 0;
      position: relative;
      left: unset;
      top: unset;

      &:hover {
        position: relative;
      }
    }
  }

  &__next {
    &.swiper-button-next {
      margin-top: 0;
      position: relative;
      right: unset;
      top: unset;

      &:hover {
        position: relative;
      }
    }
  }

  &__main {
    margin: -30px -25px;
    padding: 30px 25px;

    &.swiper {
      width: auto;
    }
  }

  &__slide {
    height: auto;
  }

  &__pagination {
    margin-top: 20px;
    display: none;
    position: relative;
  }
}

//==========================================================================================================================================================
// Адаптив
@media (max-width: 1360px) {
  .benefit-slider {
    &__main {
      margin-right: -20px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .article {
    &__sidebar {
      flex-basis: 360px;
    }
  }
}

@media (max-width: 991px) {
  .article-banner {
    &__content {
      padding: 40px 30px;
      min-height: 400px;
    }
  }

  .article {
    &__body {
      flex-direction: column;
    }

    &__sidebar {
      margin-left: 0;
      margin-bottom: 60px;
      order: -1;
      flex: none;
    }

    &__sidebar-slider-box {
      display: none;
    }
  }

  .benefit-slider {
    &__pagination {
      display: block;
    }
  }
}
