.small-info {
  &__content {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
  }

  &__main {
    padding: 0 40px;
  }
}

.numbers {
  &__title {
    margin-bottom: 40px;
  }

  &__list {
    margin-top: -20px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(33.33% - 20px);

    &--col-6 {
      width: calc(50% - 20px);
    }
  }
}

.number-item {
  padding: 16px 30px;
  min-height: 110px;
  border-radius: 10px;
  background-color: $color-white;

  &__title {
    font-size: 40px;
  }

  &--yellow {
    background-color: $color-yellow;
  }

  &--red {
    background-color: $color-red;
  }

  &--cyan {
    background-color: $color-cyan;
  }

  &--dark-orange {
    background-color: $color-dark-orange;
  }
}

.table-section {
  &__title {
    margin-bottom: 25px;
  }
}

.table-values {
  &__main {
    display: flex;
    flex-direction: column;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }

    &:nth-child(2n + 1) {
      background: $color-white;
    }
  }

  &__title {
    padding: 14px 0 14px 20px;
    flex: 0 0 170px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__row:nth-child(2n + 1) &__title {
    background: $color-white;
  }

  &__col {
    padding: 14px 0 14px 30px;
    flex: 0 0 130px;
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      padding-right: 20px;
    }
  }

  &__row:nth-child(2n + 1) &__col {
    background: $color-white;
  }
}

//==========================================================================================================================================================
// Адаптив
@media (max-width: 1200px) {
  .numbers {
    &__title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 991px) {
  .small-info {
    &__main {
      max-width: 440px;
    }
  }

  .numbers {
    &__title {
      margin-bottom: 30px;
    }

    &__item {
      width: calc(50% - 20px);

      &:nth-child(5) {
        width: calc(100% - 20px);
      }
    }
  }

  .table-values {
    border: 1px solid #d9d9d9;

    &__main {
      flex-direction: row;
      height: 100%;
    }

    &__row {
      flex-direction: column;
      flex: 0 0 50%;

      &:after {
        display: none;
      }
    }

    &__title {
      position: relative;
      padding-right: 20px;
      flex: none;
      width: 100%;
      border-bottom: none;

      &:after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: 0;
        width: calc(100% - 20px);
        height: 1px;
        background-color: #d9d9d9;
      }
    }

    &__row:not(:first-child):not(:last-child) &__title {
      &:after {
        left: unset;
        right: 0;
        width: 100%;
      }
    }

    &__row:last-child &__title {
      &:after {
        left: unset;
        right: 20px;
      }
    }

    &__col {
      position: relative;
      flex: none;
      width: 100%;
      padding-left: 20px;
      border-bottom: none;

      &:after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: 0;
        width: calc(100% - 20px);
        height: 1px;
        background-color: #d9d9d9;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__row:not(:first-child):not(:last-child) &__col {
      &:after {
        left: unset;
        right: 0;
        width: 100%;
      }
    }

    &__row:last-child &__col {
      padding-right: 20px;

      &:after {
        left: unset;
        right: 20px;
      }
    }

    &.js-simplebar .simplebar-content-wrapper {
      height: 100% !important;
    }
    
    &.js-simplebar .simplebar-content {
      height: 100%
    }
  }
}

@media (max-width: 768px) {
  .small-info {
    &__content {
      padding-top: 0;
      padding-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__main {
      padding: 25px 30px 13px;
      max-width: 300px;
    }

    &__img {
      margin-left: auto;
      max-height: 81px;
    }
  }

  .numbers {
    &__title {
      margin-bottom: 20px;
    }

    &__item {
      width: calc(100% - 20px);
    }
  }

  .table-section {
    &__title {
      margin-bottom: 20px;
    }
  }
}
