
.cart-top__count-products{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    color: $color-orange;
    margin-left: 5px;
}

.cart {     
    width: 100%;

    // .cart__wrapper

    &__wrapper {
        display: flex;
        
        width: 100%;
        justify-content: space-between;
    }

    // .cart__list-products

    &__list-products {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 830px;
    }

    // .cart__total
}
.container {
}
.cart-product {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 2;
    border-bottom: 1px solid $color-gray;
    padding: 20px 0;
    justify-content: space-between;

    &__img {
        grid-row-start: 1;
        grid-row-end: 3;

        max-width: 120px;
        max-height: 115px;
        height: 100%;
        width: 100%;
        border: 1px solid $color-white;
        border-radius: 10px;
        padding-bottom: 5px;
        margin-right: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 310px;
    }

    &__article {
        
    }
    &__name-column{
        font-weight: 400;
        font-size: 14px;
        color: $color-dark-gray;
        margin-bottom: 10px;
    }

    &__name {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__name-mobile {
        display: none;
    }

    &__addition {
        display: flex;
        align-items:center;
        align-content:center;
        span{
            font-weight: 400;
            font-size: 15px;
            line-height: 1.4;
        }
    }

    &__addition-price {
        height: 20px;
    }

    &__help {
        margin-left: 10px;
        flex: 0 0 auto;
        width: 18px;
        height: 18px;
        &::after{
            background-color: $color-orange;
        }
    }

    &__counter {
        margin-right: 34px;
       
    }

    &__price {
        margin-right: 34px;

    }

    &__with-discount {
        font-weight: 500;
        font-size: 22px;
        .price-in-ruble {
            &::after{
                height: 26px;
            }
        }
    }


    &__without-discount {
        width: max-content;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: $color-dark-gray;
        &::before{
            position: absolute;
            top: 10px;
            display: flex;
            width: 100%;
            height: 1.2px;
            content:'';
            background-color: $color-dark-gray;
        }
        .price-in-ruble {
            &::after{
                height: 20px;
                background-color:$color-dark-gray;
            }
        }
    }

    &__delete {
        display: flex;
        flex-direction: column;
        align-items: end;
        button{
            transition: all 0.2s;   
            height: 20px;
            width: 20px;
            &::after{
                background-color: $color-gray;
            }
            &:hover::after{
                transition: all 0.2s;
                background-color: $color-red;
            }
        }
       
    }
    
    &--order {
        grid-template-columns: repeat(4, auto);
    }
}

.cart-total {
    .price-in-ruble{
        &::after{
            height: 19px;
            margin-left: 2px;
        }
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 413px;
    background-color: $color-white;
    border-radius: 30px;
    height: max-content;
    padding: 25px 30px;

    &__title{
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 12px;
    }

    &__row {
        font-size: 15px;
        color: $color-dark-gray;
    }

    &__price {
        font-size: 15px;
    }

    &__all {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid $color-gray
    }

  

    &__product {
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

 

    &__discount {
        display: flex;
        align-items:center;
        justify-content: space-between;
        .cart-total__price{
            color: $color-dark-gray;
            &.price-in-ruble{
                &::after{
                    background-color: $color-dark-gray
                }
            }
        }
    }

    &__result {
        display: flex;
        align-items:center;
        justify-content: space-between;
        font-weight: 500;
        margin: 25px 0;
        .cart-total__row{
            color: $color-black;
            font-size: 18px;
        }
        .cart-total__price{
            font-size: 20px;
            &.price-in-ruble{
                &::after{
                   height: 24px;
                }
            }
        }
    }

    &__button{
        
        padding: 10px 35px;
        span{
            display: flex;
            align-items:center;
            &::after{
                position: relative;
                top: 1px;
                background-color: $color-light-white;
                mask-size: 80%;
            }
            
        }
        &:hover span::after{
            background-color: $color-orange;
            mask-size: 80%;
        }

    }

    &__privacy {
        margin-top: 25px;
    }
}



.popular-product{
    width: 100%;
    position: relative;
    padding-bottom: 20px;


    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        h2{
            font-weight: 500;   
            position: relative;
        }
    }

    &__container {

        .category-products__list{
            min-height: 600px;
      
        }

    }

    .category-product{
        max-width: 100%;
        min-width: 0;
        max-height: 560px;

    }
    .popular-product__pagination{
        display: none;
        justify-self: center;
        align-self:center;
        margin-top: -60px;
    }
}


@media (max-width: 1200px) {
    .cart {     
        
        &__wrapper {
   
            flex-direction: column;           
        }
    
        // .cart__list-products
    
        &__list-products {

            max-width: 100%;
            margin-bottom: 30px;

            &--order {
                margin-bottom: 0;
            }
        }
        
    }
	
    .cart-total{
        align-self:center;
        max-width: 700px;
    }
}

@media (max-width: 768px) {

    .cart-total{
        &__result {
            margin-bottom: 20px;
        }

        &__privacy {
            margin-top: 20px;
        }
    }



    .cart-product {

        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4,auto);
        gap: 10px 20px;
        

   
        &__img { order: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            margin: 0;
        }
    
        &__info {
            order: 2;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start:2 ; 
            grid-column-end:3 ; 
            margin: 0;
        }

        &__name-column{
            display: none;
       
        }
        
        &__article {
            display: block;
            
        }
        
    
        &__name {
            margin: 0;
            font-size: 18px;
            
        }
    
        &__addition { 
            order: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start:1 ; 
            grid-column-end:3 ; 
            
            
            span{
               
            }
        }
    
        &__help {
    
            &::after{
               
            }
        }
    
        &__counter {
            order: 5;
            margin-right: 0;
            margin-top: 10px;
        }

        &__counter-value {
            font-size: 15px;
            font-weight: 400;
        }
    
        &__price {
            padding-top: 10px;
            order: 3;
            display: flex;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start:1 ; 
            grid-column-end:3 ; 
            margin: 0;
            align-items:center;
           
        }
    
        &__with-discount { 
            .price-in-ruble {
                &::after{       
                }
            }
            margin-right: 10px;
        }
    
        &__without-discount {
            &::before{
              
            }
            .price-in-ruble {
                &::after{
                }
            }
        }
    
        &__delete {
            order: 6;
            align-items:end;
            justify-content: center;
            
            button{
                &::after{
                    
                }
            }
           
        }

        &--order {
            gap: 0;
        }

        &--order &__img {
            margin-right: 20px;
        }

        &--order &__price {
            padding-top: 20px;
        }

        &--order &__counter {
            padding-top: 10px;
            margin-top: 0;
            display: flex;
            align-items: center;
        }

        &--order &__name-mobile {
            margin-right: 5px;
            display: block;
        }

        &--order &__addition {
            padding-top: 10px;
        }
    }
    .cart-top__count-products{
        font-size: 14px;
    }



    .popular-product{    
        &__head {
            h2{
            }
        }
    
        &__container {
            .category-products__list{
            }
    
        }

        .category-product{
        }

        .popular-product__pagination{
            display: block;
        }
    }
	
}

@media (max-width: 576px) {
	
}