.partnership {
    width: 100%;

    // .partnership__block

    &__block {
        display: flex;
        border-radius:30px;
        padding: 40px;
        background-color: $color-white;
       
    }

    // .partnership__title

    &__title {
        font-weight: 500;
        font-size: 24px;
        max-width: 400px;
        width: 100%;
    }

    // .partnership__description

    &__description {
        font-weight: 400;
        font-size: 16px;
        max-width: 713px;
        width: 100%;
    }
}

.quality-assurance {

    // .quality-assurance__title

    &__title {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 40px;
    }

    // .quality-assurance__block-info

    &__block-info {
        display: flex;
        margin-bottom: 40px;
        border: 1px solid $color-gray;
        border-radius: 30px;
        max-height: 200px;
        overflow: hidden;
       
    }

    // .quality-assurance__img-left

    &__img-left {
        .quality-assurance__block-img{
            border-radius: 30px 0px 0px 30px;
            object-position: 50% 30%;
        }

    }

    // .quality-assurance__block-img

    &__block-img {
        width: 100%;
        
        max-width: 522px;
        
        object-fit: cover;
        object-position: 50% 60%;
       
    }

    // .quality-assurance__block-text

    &__block-text {
        min-width: 320px;
        padding: 30px 40px 0px 40px;
    }

    // .quality-assurance__block-title

    &__block-title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 20px;
    }

    // .quality-assurance__block-description

    &__block-description {
        font-weight: 400;
        font-size: 15px;
    }

    // .quality-assurance__img-right

    &__img-right {
        .quality-assurance__block-img{
            border-radius: 0px 30px 30px 0px;
        }
        
    }
}
.brief-information {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;

    // .brief-information__block

    &__block {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        height: 110px;
        padding: 16px 30px 23px;
        width: 100%;
        border-radius: 10px;

        color: $color-light-white;
        background-color: $color-cyan;
    }

    // .brief-information__title

    &__title {
        text-wrap: nowrap;
        font-weight: 700;
        font-size: 40px;
    }

    // .brief-information__description

    &__description {
        text-wrap: nowrap;
        font-weight: 400;
        font-size: 15px;
    }
}
.quality-advantage {
    margin-top: 18px;
    margin-bottom: 69px;
  
    

    // .quality-advantage__container

    &__container {
        display: flex;
        flex-direction: column;
        
    }

    // .quality-advantage__block

    &__block {
        &:not(:last-child){
            border-bottom: 1px solid $color-gray;
        }
        display: flex;
        padding: 40px 40px 31px;
    }

    // .quality-advantage__title

    &__title {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: $color-blue;
        width: 394px;
        min-width: 394px;
    }

    // .quality-advantage__description

    &__description {
        font-weight: 400;
        font-size: 15px;
        max-width: 678px;
        margin-left: 40px;
    }
}
.blue-bold {
    font-weight: 500;
    color: $color-blue;
}



@media (max-width: 1200px) {
    .partnership {

		// .partnership__block

		&__block {

		}

		// .partnership__title

		&__title {

		}

		// .partnership__description

		&__description {

		}
}

.quality-assurance {

		// .quality-assurance__title

		&__title {

		}

		// .quality-assurance__block-info

		&__block-info {
            max-height: 300px

		}

		// .quality-assurance__img-left

		&__img-left {
		}

		// .quality-assurance__block-img

		&__block-img {
            width: 50%;

		}

		// .quality-assurance__block-text

		&__block-text {
    
		}

		// .quality-assurance__block-title

		&__block-title {
		}

		// .quality-assurance__block-description

		&__block-description {
		}

		// .quality-assurance__img-right

		&__img-right {
		}
}
.brief-information {

		// .brief-information__block

		&__block {
		}

		// .brief-information__title

		&__title {

		}

		// .brief-information__description

		&__description {
		}
}
.quality-advantage {

		// .quality-advantage__container

		&__container {
		}

		// .quality-advantage__block

		&__block {
		}

		// .quality-advantage__title

		&__title {
		}

		// .quality-advantage__description

		&__description {
		}
}
.blue-bold {
}


}

@media (max-width: 768px) {


    .partnership {

		// .partnership__block

		&__block {
            flex-direction: column;
            padding: 30px;
		}

		// .partnership__title

		&__title {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 30px;
		}

		// .partnership__description

		&__description {
            font-weight: 400;
            font-size: 16px;
		}
}

.quality-assurance {
    margin-top: 40px;

		// .quality-assurance__title

		&__title {
            font-weight: 500;
            font-size: 20px;
            margin-bottom:20px;
		}

		// .quality-assurance__block-info

		&__block-info {
            flex-direction: column;
            max-height: max-content;
            margin-bottom:20px;
		}

		// .quality-assurance__img-left

		&__img-left {
            .quality-assurance__block-img{
                border-radius: 30px 30px 0px 0px;
            }
		}

		// .quality-assurance__block-img

		&__block-img {
            order: 1;
            width: 100%;
            max-width: 100%;
            img{
                border-radius: 30px 30px 0px 0px;
            }
            border-radius: 30px 30px 0px 0px;
		}

		// .quality-assurance__block-text

		&__block-text {
            order: 2;
            padding: 30px;
		}

		// .quality-assurance__block-title

		&__block-title {
		}

		// .quality-assurance__block-description

		&__block-description {
		}

		// .quality-assurance__img-right

		&__img-right {
            .quality-assurance__block-img{
                border-radius: 30px 30px 0px 0px;
            }
		}
}

.container{
    .mog-content.brands{
        padding-inline: 0;
    }
}
.brief-information {
    flex-direction: column;
    margin-bottom: 60px;

		// .brief-information__block

		&__block {

		}

		// .brief-information__title

		&__title {
            font-weight: 500;
            font-size: 40px;
		}

		// .brief-information__description

		&__description {
		}
}
.quality-advantage {
        margin-top: 40px;

		// .quality-advantage__container

		&__container {
		}

		// .quality-advantage__block

		&__block {
            &:last-child{
                border-bottom: 1px solid $color-gray;
            }
            flex-direction: column;
            padding: 20px 0 20px;
		}

		// .quality-advantage__title

		&__title {
            width: 100%;
            min-width: 0%;
            font-weight: 500;
            font-size: 26px;
            margin-bottom: 20px;
		}

		// .quality-advantage__description

		&__description {
            margin: 0;
		}
}
.blue-bold {
}


}

@media (max-width: 576px) {

	
}

.quality-page__title{
    font-size: 24px;
    margin-bottom: 25px;
}