.boilers-result {
}

.boilers-result__header {
    margin-bottom: 40px;
}

.boilers-result__content {
    display: flex;
    column-gap: 20px;
}

/* Category header */
.category-header {
    display: flex;
    align-items: center;
}

.boilers-result {
}

.boilers-result__requirement {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 30px;
    gap: 40px;
    margin-bottom: 60px;
}

.boilers-result__img img {
    max-width: 320px;
    border-radius: 0 30px 30px 0;
    height: 100%;
}

.boilers-result__title {
    font-size: 32px;
    margin-bottom: 25px;
}

.boilers-requirement {
    padding: 30px 0 30px 40px;
    width: 100%;
    max-width: 710px;
}

.boilers-requirement__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray);
}

.boilers-requirement__parameters {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.boilers-requirement__item-parameter {
    display: flex;
    flex-direction: column;
}

.boilers-requirement__item-parameter .text {
    margin-bottom: 2px;
}

.boilers-requirement__item-parameter .title--4 {
    font-weight: 500;
}

@media (max-width: 768px) {
    .boilers-result {
    }

    .boilers-result__requirement {
        flex-direction: column;
        gap: 12px;
        background-color: var(--color-white);
        gap: 0;
        margin-bottom: 40px;
    }

    .boilers-result__img {
        display: none;
    }

    .boilers-result__title {
        font-size: 20px;
    }

    .boilers-requirement {
        padding: 30px;
        width: 100%;
        max-width: 100%;
    }

    .boilers-requirement__title {
        font-weight: 500;
        font-size: 20px;
    }

    .boilers-requirement__parameters {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 12px;
    }

    .boilers-requirement__item-parameter {
        display: flex;
        flex-direction: column;
    }

    .boilers-requirement__item-parameter .text {
        margin-bottom: 2px;
    }

    .boilers-requirement__item-parameter .title--4 {
        font-size: 18px;
        font-weight: 500;
    }
}
