/* ========================================================================================================================================================== */
/*  Section Catalog */
/* ========================================================================================================================================================== */
/*  Section Catalog Top */
.breadcrumbs {
}

/* ========================================================================================================================================================== */
/*  Section Catalog */
.catalog {
    margin-bottom: 100px;
}

.catalog-list {
    /*  display: flex; */
    /*  flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*  justify-content: center; */
    gap: 20px;
    margin-bottom: 20px;
}
.catalog-item {
    border-radius: 10px;
    /*  flex: 0 1 305px; */
    /*  height: 370px; */
    background-color: var(--color-white);
    transition: box-shadow 0.3s ease;
}
.catalog-item:hover {
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.25);
}
.catalog-item__content {
    padding: 30px;
}
.catalog-item__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black);
    margin-bottom: 10px;
}
.catalog-item__count {
    border-radius: 25px;
    padding: 5px 15px;
    width: fit-content;
    /*  height: 23px; */
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-align: center;
    color: var(--color-gray);
    background-color: var(--color-light-white);
    margin-bottom: 41px;
}
.catalog-item__img {
    mix-blend-mode: multiply;
    margin-bottom: 15px;
}
.catalog-item {
}
.catalog-showmore {
    display: none;
}
/* ========================================================================================================================================================== */
/*  Section Catalog Description */
.catalog-info {
    margin-bottom: 100px;
}
.catalog-info__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid var(--color-gray);
    border-radius: 30px;
    overflow: hidden;
}
.catalog-info__col:nth-child(1) {
    flex: 0 1 698px;
}
.catalog-info__col:nth-child(2) {
    flex: 0 1 502px;
    /*  flex-grow: 1; */
    /*  flex-shrink: 1; */
}
.catalog-info__title {
    margin-bottom: 20px;
}
.catalog-info__text {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    font-weight: 400;
    font-size: 15px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.catalog-info__link {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-orange);
}
.catalog-info__img {
    position: absolute;
    top: -100px;
    right: -122px;
    width: 590px;
    height: 590px;
}
.catalog-info__img img {
    width: 100%;
    border-radius: 295px;
}
.catalog-info__img::after {
    content: "";
    position: absolute;
    display: block;
    background: url("/img/catalog-page/descr-image-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 20px;
    right: 10px;
    border-radius: 295px;
    z-index: -1;
}
.btn-disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
    user-select: none;
}
/* ========================================================================================================================================================== */
/*  Адаптив */
/*  * { */
/*  	outline: 1px solid red !important; */
/*  } */
@media (max-width: 1200px) {
    .catalog {
        margin-bottom: 80px;
    }
    .catalog-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .catalog-info__inner {
        column-gap: 150px;
    }
    .catalog-info__col {
        width: 50%;
    }
    .catalog-info__img {
        width: 496px;
        height: 496px;
        top: unset;
        bottom: -180px;
        right: -170px;
    }
    .catalog-info__img::after {
        width: 496px;
        height: 496px;
        top: 0;
        right: 45px;
    }
}
@media (max-width: 768px) {
    .catalog {
        margin-bottom: 60px;
    }
    .catalog-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog-info__inner {
        flex-direction: column;
        row-gap: 36px;
    }
    .catalog-info__col {
        width: 100%;
    }
    .catalog-info__col:nth-child(1) {
        flex-basis: auto;
    }
    .catalog-info__col:nth-child(2) {
        /*  height: 364px; */
        flex-basis: 354px;
    }
    .catalog-info__img {
        top: unset;
        bottom: -135px;
        right: -150px;
    }
    .catalog-info__img::after {
        top: 0;
        right: 45px;
    }
}
@media (max-width: 576px) {
    .catalog-list {
        grid-template-columns: repeat(1, 320px);
        justify-content: center;
    }
    .catalog-info__inner {
        padding: 30px;
    }
    .catalog-info__title {
        font-size: 18px;
    }
    .catalog-info__img {
        top: unset;
        bottom: -135px;
        right: -155px;
        /*  right: -135px; */
    }
    .catalog-info__img::after {
        top: -5px;
        right: 65px;
    }
    .catalog-info__img img {
        transform: scale(1.02);
    }
    .catalog-showmore {
        display: block;
        text-align: center;
    }
    .catalog-showmore__btn {
        min-width: 320px;
    }
}
