.product-comparison {
    position: relative;
    padding: 40px 0px ;
}

.product-comparison__filter{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    align-content: center;
}

.product-comparison__filter-checkbox{

}

.product-comparison__filter-description{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 2px;
}

.product-comparison__list{
}

.product-comparison__row{
    position: relative;
    border-bottom: 1px solid rgba(75, 75, 75, 0.26);
    max-width: 100%;
    width: 100%;
}

.product-comparison__row:not(:last-child){
    margin-bottom: 20px;
}

 .product-comparison__title{
    font-weight: 500;
    font-size: 16px;
}

 .product-comparison__parameters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 15px 0;
}

.product-comparison__parameters span{
    display: block;
    width: 100%;
}
/*ОСНОВНОЙ СЛАЙДЕР*/
.product-comparison__slider{
 
}
.product-comparison__slider .swiper-container{
    position: relative;
    width: 100%;
    max-width: max-content;
}
.product-comparison__slider-container{

}





.product-comparison {}

.product-comparison__slider{
}

.product-comparison__slider-container{
}

.product-comparison__list-swiper{

}

.product-comparison__swiper-wrapper{
}

.product-comparison__slider .product-comparison__item{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    height: auto;
    

}

.product-comparison__slider .product-comparison__content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
}

.swiper-container {
}

.category-products {
}

.category-products__list{
}

.swiper__product-comparison{
}

.discount-product {
}

.new-product {
}

.discount-first {
}

.product-slider {}

.product-slider__pagination{
}

.product-slide {
}
.swiper-pagination {
}
.product {}

.product__article{
}

.product__article-text{
}

.product__title{
}

.product__title-text{
}

.product__rating{
}

.product__rating-score{
}

.product__rating-comment{
}

.product__rating-link{
}

.product__price{
}

.product__old-price{
}

.product__new-price{
}

.product__cart-add{
}

.product__labels{
}

.product__meta {
}

.product-comparison__slider .product-footer {
    margin-top: auto;
    margin-bottom: 0;
}
.cart-icon {
}
.cart-icon-add {
}
.cart-icon-added {
}
.cart-icon-basket {
}
.discount-label {
}
.label-text {
}
.new-label {
}
.meta-btn {
}
.favour-btn {
}
.delete-btn {

}

.product-comparison__slider .delete-btn:hover>svg>path {
    transition: all 0.1s;
    stroke: var(--color-red);
}

.new-first {
}


@media (max-width: 768px) {
    .product-comparison {
    }

    .product-comparison__list-swiper{
        
    }

    .product-comparison__list-swiper>{

    }
    .product-comparison__slider{
    }

    .product-comparison__slider-container{
    }

    .product-comparison__list{
    }

    .product-comparison__swiper-wrapper{
    }

    .product-comparison__slider .product-comparison__item{
        min-height: 300px;
    }

    .container {
    }

    .swiper-container {
    }



    .swiper__product-comparison{
    }

    .discount-product {
    }

    .new-product {
    }

    .discount-first {
    }

    .category-product {
    }

    .category-product__img-link{
    }

    .category-product__content{
    }

    .product-slider {}

    .product-comparison__slider .product-slider__pagination{
        display: none;
    }

    .product-slide {
    }
    .swiper-pagination {
    }
    .product {}

    .product__article{
    }

    .product-comparison__slider .product__article-text{
        font-size: 14px;
    }

    .product__title{
    }

    .product-comparison__slider .product__title-text{
        font-weight: 500;
        font-size: 14px;
    }

    .product-comparison__slider .product__rating{
        display: none;
    }

    .product__rating-score{
    }

    .product__rating-comment{
    }

    .product__rating-link{
    }

    .product__price{
    }

    .product-comparison__slider .product__old-price{
        order: 1;
        font-size: 16px;
    }

    .product-comparison__slider .product__new-price{
        order: 0;
        font-weight: 500;
        font-size: 20px;
    }

    .product-comparison__slider .product__cart-add{
        display: none;
    }

    .product-comparison__slider .product__labels{
        display: none;
    }

    .product-comparison__slider  .product__meta {
        position: relative;
        bottom: 0;
        right: 0;
        top: 0;
        margin-top: 20px;
        flex-direction: row;
        justify-content: end;

    }

    .product-comparison__slider .product-footer {
        margin-top: auto;

    }

    .cart-icon {
    }
    .cart-icon-add {
    }
    .cart-icon-added {
    }
    .cart-icon-basket {
    }
    .discount-label {
    }
    .label-text {
    }
    .new-label {
    }
    .meta-btn {
    }
    .product-comparison__slider  .favour-btn {
        display: none;
    }
    .delete-btn {

    }
    .new-first {
    }
}

*{
    /* border: 1px solid red; */

}