/*------ COLOR ------*/

$color-dark-blue: #004669;
$color-gray: #CFCFCF;
$color-dark-gray:#6d6e71;
$color-black: #333333;
$color-blue: #006DAA;
$color-orange: #f47920;
$color-red: #f04e23;
$color-red-default: #eb5757;
$color-yellow: #FCAF17;
$color-cyan: #00AEE6;
$color-dark-orange: #DE6B20;
$color-white: #F5F5F5;
$color-light-white: #FFF;

/*------ BLOCKS ------*/


$border-radius: 5px;

/*------ FONTS ------*/
@mixin base-font{
    font-size: 15px;
    font-weight: 400;
}



h1{
    font-size: 3rem;
    line-height: 3rem;
}

h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h3{
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h4{
    font-size: 1.5rem;
    line-height: 2rem;
}

h5{
    font-size: 1rem;
    line-height: 1.75rem;
}

.text-lg{
    font-size: 16px;
}

.text-base{
    font-size: 14px;
}

.text-sm{
    font-size: 15px;
}

.text-xs{
    font-size: 12px;
}

.font-normal{
    font-weight: 400;
}

.font-semibold{
    font-weight: 500;
}

a{
    cursor: pointer;
}

/*------ UI ELEMENTS ------*/

.flex-block-tmp{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.mog-wrapper{
    transition: all 0.2s;
    position: relative;
    width: max-content;

    .mog-label{
        transition: all 0.2s;
        background-color: $color-light-white;
        position: absolute;
        top: -8px;
        left: 15px;
        font-size: 0.8rem;
        padding-inline: 2px;
        z-index: 5;
        display: none;

        &.error{
            display: block;
            top: auto;
            bottom: -7px;
            color: $color-red;
        }
        &.visible{
            display: block;
        }
        &.placeholder{
            display: block;
            top: 10px;
            background-color: #00000000;
            color: $color-gray;
            font-size: 1rem;
        }
    }

    .mog-input{
        transition: all 0.2s;
        position: relative;
    
        background-color: $color-white;
        border: 1px solid $color-white;
        border-radius: $border-radius;
        color: $color-gray;
        padding: 10px 15px;
        transition: all 0.2s;
        
        @include base-font;
        &::placeholder{
            color: $color-gray;
        }
    
        &:focus{
            color: $color-dark-gray;
            border-color: $color-dark-gray;
        }
    
        &.error{
            color: $color-red-default;
            border-color: $color-red-default;
        }

        &.mog-input-dropdown{
            padding-right: 30px;
            width: calc(100% - 15px);
        }

        &.mog-with-icon{
            
            &__right{
                width: calc(100%);
                padding-right: 30px;
            }

            &__left{
                width: calc(100%);
                padding-left: 30px;
            }
        }

        &.mog-ok{
            border-color: $color-orange;
            color: $color-orange;
        }
    }
    
    .mog-icon{
        cursor: pointer;
        position: absolute;

        &__right{
            right: 8px;
        }

        &__left{
            left: 8px;
        }
    }

    .mog-checkbox{

    }

    .mog-select{

    }
}


.mog-tabs{
    display: flex;
    .mog-tab{
        transition: all 0.2s;
        border: 1px solid $color-light-white;
        transition: all 0.2s;
        cursor: pointer;
        border-radius: 25px;
        color: #333333;
        width: 100%;
        max-height: 100%;
        padding: 8px 20px;
        text-wrap: nowrap;
        text-align: center;
    
        &:hover{
            background-color: transparent;
            color: $color-orange;
            border: 1px solid $color-orange;
        }
        &.active{
            border: 1px solid #333333;
            background-color: #333333;
            color: #FFF;
        }
    
    }
}

.mog-tab-list{
    .mog-tab-item{
        display: none;
        &.active{
            display: block;
        }
    }
}


@mixin style-text-btn-center{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


a.mog-button,
.mog-button{
    transition: all 0.2s;

    &-dropdown{
        position: absolute;
        right: 18px;
        top: 8px
    };

    &-normal{
        @include style-text-btn-center;
        padding: 15px 35px ;
        border-radius: 25px;
        border: 1px solid $color-black;
        transition: all 0.2s;
    };

    &-input{
        padding: 14.5px 35px;
        position: absolute;
    }

    &-with-icon{
        @include style-text-btn-center;

        border-radius: 25px;
        border: 1px solid $color-black;
        padding: 15px 35px ;
        width: 100%;
        transition: all 0.2s;
    }
}

@mixin style-mog-btn{
    position: absolute;
    top: 0px;
    left: 0;

    content:'';
    display: block;
    width: 100%;
    height: 100%;

    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.mog-btn {


    &__help {
        position: relative;
        &::after{
            @include style-mog-btn;
            mask-image: url("/icons/all/circle-help.svg");
        }
    }

    &__minus {
        position: relative;
        &::after{
            @include style-mog-btn;
            mask-image: url("/icons/all/minus.svg");
        }
        
    }

    &__delete {
        position: relative;
        &::after{
            @include style-mog-btn;
            mask-image: url("/icons/all/delete.svg");
        }
    }

    &__plus {
        position: relative;
        &::after{
            @include style-mog-btn;
            mask-image: url("/icons/all/plus.svg");
        }
    }

    &__download {
        position: relative;
        &::after{
            @include style-mog-btn;
            mask-image: url("/icons/all/download.svg");
        }
    }
}


a.mog-color,
.mog-color{
    transition: all 0.2s;
    &__button-orange{
        color: $color-light-white;
        background-color:  $color-orange;
        border: 1px solid $color-orange;
        transition: all 0.2s;

        &:hover{
            color: $color-orange;
            background-color: transparent;
        }
        &::after{ 
            background-color:  $color-light-white;
        }
        &:hover::after{ 
            background-color:  $color-orange;
        }
    }

    &__button-white-br-orange{
        color: $color-orange;
        background-color: $color-light-white;
        border: 1px solid $color-orange;
        transition: all 0.2s;

        &:hover{
            color: $color-light-white;
            background-color: $color-orange;
        }
        &::after{ 
            background-color:  $color-orange
        }
        &:hover::after{ 
            background-color:  $color-light-white;
        }
    }

    &__button-transparent-br-orange{
        color: $color-orange;
        background-color: transparent;
        border: 1px solid $color-orange;
        transition: all 0.2s;

        &:hover{
            color: $color-light-white;
            background-color: $color-orange;
        }
        &::after{ 
            background-color:  $color-orange
        }
        &:hover::after{ 
            background-color:  $color-light-white;
        }
    }

    &__button-transparent{
        color: $color-light-white;
        background-color: transparent;
        border: 1px solid $color-light-white;
        transition: all 0.2s;

        &:hover{
            color: $color-light-white;
            background-color: $color-orange;
            border: 1px solid $color-orange;
        }
        &::after{ 
            background-color: $color-light-white
        }
        &:hover::after{ 
            background-color: $color-light-white;
        }
    }

    &__button-blue-br{
        color: $color-blue;
        background-color: transparent;
        border: 1px solid $color-blue;
        transition: all 0.2s;

        &:hover{
            color: $color-light-white;
            background-color: $color-blue;
        }
        &::after{ 
            background-color: $color-blue;
        }
        &:hover::after{
            background-color: $color-light-white;
        }
    }
}
.mog-content{
    padding: 80px 100px;
}



.mog-label {
    transition: all 0.2s;

    // .mog-label__radio-button

    &__radio-button {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;


        input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            
            &:not(:disabled):not(:checked)+span:hover::before {
                border-color: $color-gray;
            }
            &:not(:disabled):active+span::before {
                background-color: #ffe1b3;
                border-color: #ffe1b3;
            }
            &:focus+span::before {
                box-shadow: 0 0 0 0.2rem rgba(255, 148, 9, 0.25);
            }
            &:focus:not(:checked)+span::before {
                border-color: #fdce87;
            }
            &:checked+span::before {
                border-color: $color-orange;
                background-color: $color-orange;
            }

            &:checked+span::after {
                content:'';
                position: absolute;
                z-index: 1;
                background-color: $color-light-white;
                width: 8px;
                height: 8px;
                border-radius:50px;
                left: 6.3px;
                top: 6px;
                
            }
            &:disabled+span::after {
                background-color: transparent;
            }
        }
        span {
            position: relative;
            display: inline-flex;
            //align-items: center;
            user-select: none;

            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid $color-gray;;
                border-radius: 50%;
                margin-right: 8px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            
            &:not(:disabled):not(:checked)+span:hover::before {
                border-color: $color-gray;
            }
            &:not(:disabled):active+span::before {
                background-color: #ffe1b3;
                border-color: #ffe1b3;
            }
            
            &:focus:not(:checked)+span::before {
                border-color: #fdce87;
            }
            &:checked+span::before {
                border-color: $color-orange;
                background-color: $color-orange;
            }
            &:checked+span::after {
                position: absolute;
                display: block;
                content:'';
                mask-image: url("/icons/all/ok.svg");
                mask-clip: no-clip;
                mask-repeat: no-repeat;
                //mask-position: center;
                mask-size: 8%;
                background-color: $color-light-white;
                width: 100%;
                height: 100%;
                top: 1px;
                left: 2px;
            }
         
            &:disabled+span::after {
                background-color: transparent;
            }
        }
        &>span {
            position: relative;
            display: inline-flex;
            //align-items: center;
            user-select: none;

            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid $color-gray;;
                border-radius: 3px;
                margin-right: 8px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
        }

    }
}

.mog-counter {
    display: flex;
    justify-content:space-between;
    align-content:center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid $color-orange;
    width: 100%;
    min-height: 41px;
    max-width: max-content;
    padding: 10px;

    button{
        width: 22px;
        height: 22px;
        &::after{
            background-color:$color-orange;
        }

        &:hover::after{
            background-color:$color-gray;
        }
    }
    input{
        display: flex;
        width: max-content;
        max-width: 20px;
        text-align: center;
        margin-inline: 5px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}

@mixin style-icon-btn{
    display: inline-block;
    margin-left: 5px;
    //top: 13px;
    width: 24px;
    height: 24px;
    mask-size: 100%;
    mask-repeat: no-repeat;
}


.icon {
    &__authorization{
        position: relative;
        &::after{
            content: '';
            mask-image: url('../../icons/all/profile.svg');
            background-color: $color-light-white;
            @include style-icon-btn;
        }
    }
    &__plus{
        position: relative;
        &::after{
            content: '';
            mask-image: url('../../icons/all/plus.svg');
            @include style-icon-btn;
        }
    }
    &__left-arrow{
        position: relative;
        &::after{

            content: '';
            mask-image: url('../../icons/arrow/long-arrow-right.svg');
            @include style-icon-btn;
            width: 21px;
            height: 11px;
        }
    }

    &__rigth-arrow{
        position: relative;
        &::after{

            content: '';
            mask-image: url('../../icons/arrow/long-arrow-left.svg');
            @include style-icon-btn;
            width: 21px;
            height: 11px;
        }
    }

    &__left-arrow-big{
        position: relative;
        &::after{

            content: '';
            mask-image: url('../../icons/all/arrow-right.svg');
            @include style-icon-btn;
            mask-size: 80%;
            mask-position: center;

        }
    }

    &__right-arrow-big{
        position: relative;
        &::after{

            content: '';
            mask-image: url('../../icons/all/arrow-left.svg');
            @include style-icon-btn;
            mask-size: 80%;
            mask-position: center;

        }
    }

    &__left-ok {
        position: relative;
        &::after{

            content: '';
            mask-image: url('../../icons/all/ok.svg');
            @include style-icon-btn;
            mask-size: 80%;
            mask-position: center;

        }
    }
}

.mog__container{
    margin-top: 40px;
}

.point{
    display: flex;
    align-items: center;
    margin-left: 8px;
    &::before{
        display: inline-block;
        content: '';
        height: 4px;
        min-width: 4px;
        border-radius: 10px;
        background-color: $color-light-white;
        margin-right: 8px;
    }
    
}

.input {
	&__main {
		position: relative;
		width: 100%;
	}

	&__field {
		padding: 10px 15px;
		width: 100%;
		border-radius: 5px;
		border: 1px solid $color-gray;
		color: $color-gray;
		line-height: 1.2;

		&::placeholder {
			color: $color-gray;
		}

		&:focus {
			border-color: $color-dark-gray;
			color: $color-black;
		}

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }

		&--white {
			background-color: $color-white;
			border-color: transparent;

			&:focus {
				border-color: $color-dark-gray;
			}
		}

        &--light-white {
			background-color: $color-light-white;

			&:focus {
				border-color: $color-dark-gray;
			}
		}

		&--sm {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		&--area {
			resize: none;
            overflow: hidden;
            
			&-lg {
				height: 80px;
			}
		}
	}

	&--error &__field {
		border-color: $color-red-default;
		color: $color-red-default;
	}

	&__name,
	&__error {
		position: absolute;
		left: 12px;
		padding: 0 3px;
		max-width: calc(100% - 24px);
		background: $color-white;
		display: none;
        pointer-events: none;
        
        &--bg-light-white {
            background-color: $color-light-white;
        }
	}

	&__name {
		bottom: calc(100% - 9px);
	}

	&__error {
		top: calc(100% - 8px);
	}

	&--error &__error {
		display: block;
	}

	&__field:focus ~ &__name {
		display: block;
	}

	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8px;
	}
}

.select {
	&__main {
		position: relative;
		height: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
			display: inline-block;
			background: url('/icons/all/arrow-down-gray.svg') center / contain no-repeat;
			width: 24px;
			height: 24px;
		}
	}

	&__field {
		padding: 9px 15px;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		border: 1px solid $color-gray;
		color: $color-gray;
		line-height: 1.2;
		-webkit-appearance: none;
		appearance: none;

		&--sm {
			padding-top: 7px;
			padding-bottom: 7px;
		}

		&:focus {
			border-color: $color-dark-gray;
			color: $color-black;
		}
	}

	&--error &__field {
		border-color: $color-red-default;
		color: $color-red-default;

		option {
			color: $color-black;
		}
	}

	&__name,
	&__error {
		position: absolute;
		left: 12px;
		padding: 0 3px;
		max-width: calc(100% - 24px);
		background: $color-white;
		display: none;
        pointer-events: none;

        &--bg-light-white {
            background-color: $color-light-white;
        }
	}

	&__name {
		bottom: calc(100% - 8px);
	}

	&__field:focus ~ &__name {
		display: block;
	}

	&__error {
		top: calc(100% - 8px);
	}

	&--error &__error {
		display: block;
	}
}

.checkbox {
	display: flex;
	align-items: flex-start;
	user-select: none;

    &__main {
        display: flex;
        align-items: flex-start;
    }

	&__input {
		display: none;
	}

	&__switch {
		position: relative;
		flex: 0 0 auto;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #d4d4d4;
		border-radius: 4px;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			visibility: hidden;
			opacity: 0;
			background: url('/icons/all/ok-white.svg') center / contain no-repeat;
			width: 12px;
			height: 9px;
		}

		&--circle {
			border-radius: 50%;
		}
	}

	&__input:checked ~ &__switch {
		background: $color-orange;
		border-color: $color-orange;

		&:before {
			visibility: visible;
			opacity: 1;
		}

		&--circle {
			border-width: 6px;
			border-color: $color-orange;
			background-color: #fff;

			&:before {
                display: none;
			}
		}
	}

	&__text {
		margin-left: 10px;

		&--ml-sm {
			margin-left: 8px;
		}

        &--desktop-nowrap {
            white-space: nowrap;
        }
	}

	&__text-item {
		display: block;
		
		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}

.switch {
    display: flex;
    align-items: center;

    &__main {
        display: flex;
        align-items: center;
    }
  
    &__field {
        display: none;
    }
    
    &__label {
        position: relative;
        display: inline-block;
        user-select: none;
        height: 28px;
        width: 48px;
        border-radius: 40px;
        cursor: pointer;
        overflow: hidden;
  
        &:before {
            content: "";
            position: absolute;
            display: block;
            background: $color-gray;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transition: width 0.25s cubic-bezier(0, 0, 0, 0.1), background 0.25s;
        }
    
        &:after {
            content: "";
            position: absolute;
            display: block;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            background: #fff;
            height: 24px;
            width: 24px;
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            border-radius: 50%;
            box-shadow: 0px 2px 5px -2px rgba(10, 9, 11, 0.06),
            0px 2px 7px rgba(10, 9, 11, 0.05), 0px 0px 0px 1px rgba(10, 9, 11, 0.05);
            transition: 0.25s ease-in-out;
        }
    }
    
    &__field:checked + &__label:before {
        background: $color-orange;
    }
  
    &__field:checked + &__label:after {
        left: 22px;
    }

    &__text {
        margin-left: 8px;
    }
}

.form {
	&__main {
		width: 100%;
	}

	&__group {
		width: 100%;

		&:not(:first-child) {
			margin-top: 20px;
		}

		&--mt-sm {
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}

	&__group-list {
		margin-left: -20px;
		margin-top: -20px;
		display: flex;
		flex-wrap: wrap;
	}

	&__group-item {
		margin-left: 20px;
		margin-top: 20px;
		flex: 1 1 0%;

		&--col-4 {
			flex: 0 0 calc(33.33% - 20px);
		}

		&.js-toggle-item {
			display: none;
		}

		&.js-toggle-item-active {
			display: block;
		}
	}

    &__group--mt-sm &__group-list {
        margin-left: -15px;
		margin-top: -15px;
    }

    &__group--mt-sm &__group-item {
        margin-left: 15px;
		margin-top: 15px;

        &--col-4 {
			flex: 0 0 calc(33.33% - 15px);
		}
    }

	&__item {
		width: 100%;
		display: flex;

		&:not(:first-child) {
			margin-top: 20px;
		}

		&--mt-sm {
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}

	&__checkboxes {
        margin-top: -20px;
        margin-left: -20px;
		display: flex;
		flex-wrap: wrap;
	}

	&__checkboxes-item {
        margin-top: 20px;
        margin-left: 20px;

		&--sm {
			width: 192px;
		}
	}

	&__btn {
		margin-top: 20px;

        &--mt-lg {
            margin-top: 25px;
        }

        &--mt-sm {
            margin-top: 15px;
        }

        &--full {
            width: 100%;
        }
	}

    &__actions {
        margin-top: 15px;
        display: flex;
        align-items: center;
    }

    &__actions-forgot {
        margin-left: 35px;
    }

    &__option {
        margin-top: 15px;
    }

    &__label {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:before,
        &:after {
            content: '';
            display: inline-block;
            flex: 0 1 110px;
            height: 1px;
            background-color: #d9d9d9;
        }
    }

    &__privacy {
        margin-top: 25px;
    }

    &__row-footer {
        margin-top: 25px;
        display: flex;
        align-items: center;
    }

    &__row-privacy {
        margin-right: 50px;
    }

    &__row-btn {
        flex: 0 0 220px;
    }

    &.js-switch-item {
        display: none;
    }

    &.js-switch-item-active {
        display: block;
    }
}

.tag {
    padding: 4px 15px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid $color-cyan;
    color: $color-cyan;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
}

.icon-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--sm {
        width: 20px;
        height: 20px;
    }

    &__img {
        max-height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .form {
        &__group-item {
            margin-left: 15px;
            margin-top: 15px;
            width: calc(100% - 15px);
            flex: none;
    
            &--col-4 {
                width: calc(100% - 15px);
            }
        }

        &__group--mt-sm &__group-item {
            &--col-4 {
                flex: none;
                width: calc(100% - 15px);
            }
        }

        &__row-footer {
            margin-top: 15px;
            flex-direction: column;
            align-items: flex-start;
        }

        &__row-privacy {
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__row-btn {
            flex: none;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .text-overflow{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }
    .mog__container{
        margin-top: 20px;
    }
    .mog-content{
        padding: 20px 20px;
    }
	h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .mog-tabs{
        overflow-x: auto;
    }

    .form {
        &__checkboxes-item {
            width: calc(100% - 20px);
        }
    }

    .checkbox {
        &__text {
            &--desktop-nowrap {
                white-space: initial;
            }
        }
    }
}

@media (max-width: 576px) {

}

@media (max-width: 375px) {
    .form {
        &__actions-forgot {
            margin-left: auto;
        }
    }
}

.price-in-ruble {
    display: flex;
    align-items:center;
    position: relative;

    &::after{
        position: relative;
        display: inline-block;
        content:'';
        mask-image: url("/icons/all/rouble.svg");
        margin-left: 3.5px ;
        mask-position: center;
        mask-size: cover;
        mask-repeat: no-repeat;
        height: 90%;
        width: 12px;
        min-width: 14px;
        background-color: $color-black;
      
    }
}


ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 20px;
}

ol li {
	position: relative;	
	margin: 0 0 0 18px;
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 0px;
	left: -24px;
	width: 20px;    
	color: $color-black;
	text-align: right;
}




//========= CUSTOM SELECT ==========//

  
  .mog-select {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 15px;
  
    &[data-state="active"] {
      .mog-select__title {
        &::before {
          transform: translate(-3px, -50%) rotate(-45deg);
        }
  
        &::after {
          transform: translate(3px, -50%) rotate(45deg);
        }
      }
      
      .mog-select__content {
        opacity: 1;
      }
      
      .mog-select__label + .mog-select__input + .mog-select__label {
        max-height: 40px;
       
      }
      .mog-select__label{
        &:nth-child(4){
            border-radius: 15px 15px 0 0;
        }
        &:last-child{
            border-radius: 0 0 15px 15px;
        }
      }
    }
  }
  .mog-select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 30px 8px 16px;
    background-color: $color-white;
    border-radius: 5px;
    border: solid 1px $color-white;
    text-wrap: nowrap;
    overflow: hidden;
    cursor: pointer;
  
    &::before,
    &::after {
      content: "";
  
      position: absolute;
      top: 50%;
      right: 16px;
  
      display: block;
      width: 10px;
      height: 2px;
  
      transition: all 0.3s ease-out;
  
      background-color: #333333;
  
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
  
    &:hover {
      border-color: $color-orange;
  
      &::before,
      &::after {
        background-color: $color-orange;
      }
    }
  }

  .reset {
    display: flex;
    width: 230px;
    padding: 8px 16px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: $color-light-white;
    border: solid 1px $color-gray;
    border-radius: 5px;
    
    transition: all 0.2s ease-out;
    
    cursor: pointer;
    
    font-weight: bold;
    
   
    color: $color-black;
    
    &:hover {
      background-color: $color-orange;
      color: $color-light-white;
    }
  }
  .mog-select__content {
    position: absolute;
    top: 50px;
    left: 3px;
  
    
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
  
    background-color: $color-light-white;
  
    border: 1px solid $color-gray;
    //border-top: none;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    border-radius: 15px;
    transition: all 0.3s ease-out;
  
    opacity: 0;
    z-index: 8;
  }
  .mog-select__input {
    display: none;
  
    &:checked + label {
      background-color: $color-gray;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .mog-select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
  
    & + input + & {
      border-top: 0 solid $color-dark-gray;
    }
  
    &:hover {
      background-color: $color-orange !important;
  
      color: $color-light-white;
    }
  }