.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
    background-color:$color-light-white;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 80px;
    align-items: center;
    align-content: center;
    
    &__logo {
        padding-bottom: 10px;
    }
    // .header__img-link
    &__img-link {
        img{
            width: 121px;
        }
        
    }

    &__nav {
        margin: 0 40px 0 50px;
    }

    // .header__nav-list

    &__nav-list {
        display: flex;
        gap: 20px;
    }

    &__nav-item {
        position: relative;
        a{
            position: relative;
            text-wrap: nowrap;
        } 
        
        a:hover{
            color: $color-blue;
        }
        
        a:hover::after{
            position: absolute;
            display: block;
            content: '';
            background-color: $color-blue;
            width: 100%;
            height: 2px;
            bottom: -3px;
        }
    }
    &__input-search {
        background-color: $color-gray;
    }

    &__img-btn-search{
        top: 8px !important;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    &__phone {
        font-size: 1.25rem;
        font-weight: 700;
        color: $color-dark-blue;
    }
    // .header__date
    &__date {
        h5{
            color: $color-dark-gray;
            line-height: 1;
        }
    }

    // .header__buttons
    &__buttons {
        
        display: flex;
        gap: 16px;
        margin-left: auto;
        align-items: center;
        align-content: center;
    }

    &__btn-likes {
        position: relative;
    }

    &__count-likes {
        position: absolute;
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 25px;
        background-color: $color-light-white;
        color: $color-light-white;
        top: -3px;
        right: -5px;
        z-index: 5;
        text-align: center;
        span{
            position: relative;
            font-size: 0.625rem;
            top: 1px;
            left: 6px;
            font-weight: 700;
        }

        &:before{
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 25px;
            left: 2px;
            background-color: $color-orange;
        }
    }


    // .header__btn-account

    &__btn-account {

    }

    // .header__btn-cart

    &__btn-cart {

    }

    // .header__btn-compare

    &__btn-compare {

        
    }

    &__btn-icons{
        
        height: 24px;
        width: 24px;
    }
    img{
        max-width: max-content;
    }

    &__modal{
        display: none;
        position: absolute;
        z-index: 100;
        width: max-content;
        padding-top: 20px;
    }

    &__modal-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 12px 10px;

        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        background-color: $color-white;
        border-radius: 10px;
        a{
            padding: 10px;
        }
        // a:hover{
        //   background:$color-light-white;
        // }
        a:hover::after{
            left: 0px;
           
        }
    }
}


.menu-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 0 14px;
    background-color: $color-light-white;
    &__wrapper{
        display: flex;
        justify-content: space-around;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__name-btn {
        margin-top: 3px;
        font-size: 0.625rem;
    }
_
    // .menu-bottom__btn-compare

    &__btn-compare {

    }

    &__btn-search{

    }
    // .menu-bottom__btn-icons

    &__btn-icons {

    }

    // .menu-bottom__btn-likes

    &__btn-likes {
        position: relative;
        
    }
  
    // .menu-bottom__count-likes

    &__count-likes {
        position: absolute;
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 25px;
        background-color: $color-light-white;
        color: $color-light-white;
        top: -3px;
        right: 5px;
        z-index: 5;
        text-align: center;

        span{
            position: relative;
            font-size: 0.625rem;
            top: 1px;
            left: 6px;
            font-weight: 700;
        }

        &:before{
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 25px;
            left: 2px;
            background-color: $color-orange;
        }

    }

    // .menu-bottom__btn-cart

    &__btn-cart {

    }

    // .menu-bottom__btn-account

    &__btn-account {

    }
}
.header{
    &__nav-item{
        &:hover .header__modal{
            display: block;
        }
    }
}


.category {

    position: fixed;
    top: 60px;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-top: 20px;

    &__container {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        background-color: $color-white;
        padding: 30px 80px 30px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    &__head {
        display: flex;
        align-items: center;
        align-content: center;
        font-weight: 500;
        color: $color-black;
        width: 100%;
        padding:5px 10px 5px 80px ;

        &::after{
            content: '';
            mask-image: url('../icons/arrow/long-arow-right.svg');
            width: 24px;
            height: 14px;
            margin-left: auto;
            background-color: $color-blue;
            opacity: 0;

        }

        &:hover{
            background-color: $color-light-white;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        }

        &:hover::after{
            opacity: 1;
        }
    }


    &__count-products {
        border-radius: 30px;
        padding: 5px 15px;
        margin-left: 10px;
        background-color: $color-light-white;
        color: $color-gray;
        font-size: 0.75rem;
    }

    &__brands {
        max-width: 372px;
        width: 100%;
    }


    &__brands-head {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.3;
        color: $color-black;
        margin-bottom: 20px;
    }

    &__brands-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.category-contents {
    display: none;

    &__list {
        display: flex;
        flex-direction: column;
    }

}



@media (max-width: 1200px) {
    .header{
        &__nav{
            margin: 0 15px 0 15px;
        }

        &__nav-list{
            flex-wrap: wrap;
            gap: 5px;
            row-gap: 0px;
        }

        &__phone{
            font-size: 1.125rem;
        }
	}
}

@media (max-width: 768px) {
	.header{
        padding-inline: 20px;
        padding-top: 14px;
        padding-bottom: 14px;

		&__contact{
			flex-direction: row;
			justify-content: space-between;
			gap: 8px;
			align-items: center;
		}

        &__phone{
            font-size: 1rem;
        }
        
        &__buttons {
            margin-left: 0;
        }
	}
}

@media (max-width: 576px) {

}
