@use 'sass:math';

@import './base/_fonts';
@import './base/_null-style';
@import './UI/ui-kit.scss';
@import 'swiper/css/bundle';

//==========================================================================================================================================================
// Общие параметры

*{
	box-sizing: border-box;
	transition: all 0.2s;
}
// Облочка
body {
	font-size: 15px;
	font-weight: 400;
	font-family: 'PFAgoraSansPro', sans-serif;
	color: $color-black;
	background-color: #fff;

}

.wrapper {
	min-height: 100vh; // Возможно лучше указать %
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}


.adaptive-display-none-flex,
.adaptive-display-none{
    display: none;
}

.adaptive-display-1200,
.adaptive-display-768{
    display: block;
}



//==========================================================================================================================================================
// Общие стили элементов

//==========================================================================================================================================================
// Блоки
@import './_header';
//
// Здесь подключаем осатльные страницы
//
@import './pages/main.scss';
//
@import './_footer';




@media (max-width: 1200px) {
	.container {
		max-width: 990px;
	}
	.adaptive-display-1200{
		display: none;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 570px;
	}

	.adaptive-display-none{
		display: block;
	}
	.adaptive-display-none-flex{
		display: flex;
	}

	.adaptive-display-768{
		display: none;
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
	}
}
