@use 'sass:math';

@import './base/_fonts';
@import './base/_null-style';

//==========================================================================================================================================================
// Общие параметры

// Переменные для цветов
$main-gray: #6d6e71;

// Облочка
body {
	font-family: 'PFAgoraSansPro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	color: $main-gray;
	background-color: #fff;
	// overflow-x: hidden;
	// overflow-y: scroll;
	// &.lock {
	// 	overflow: hidden;
	// }
}

.wrapper {
	min-height: 100vh; // Возможно лучше указать %
	display: flex;
	flex-direction: column;
	.main {
		flex: 1 1 auto;
	}
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

//==========================================================================================================================================================
// Общие стили элементов

//==========================================================================================================================================================
// Блоки
@import './_header';
//
// Здесь подключаем осатльные страницы
//
@import './_footer';
